.top_page {
  /* margin-top: -150px; */
  width: 100%;
  height: 400px;
  background-image: url("../medias/img4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
}

.top_page > .search {
  height: 100px;
  width: 75%;
  /* padding-top: 200px; */
  margin-top: 150px;
  margin-left: 150px;
  padding-top: 40px;
  background-color: rgba(255, 255, 255, 0.4);
}
.searchJob {
  border-radius: 5px;
  width: 250px;
  height: 40px;
}
.searchLocalisation {
  border-radius: 5px;
  width: 250px;
  height: 40px;
  margin-left: 25px;
}
.search > span {
  padding: 5px;
  color: white;
  font-size: 20px;
  margin-left: 10px;
  background-color: rgb(23, 37, 84, 0.9);
  border-radius: 5px;
}
.search > span:hover {
  cursor: pointer;
  font-size: 22px;
}
